#Profiles img {
  width: 98%;
  height: auto;
}
#Profiles figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#Profiles {
    text-align: left;
    height: 100%;
    overflow-y: scroll;
}
.profile-content{
  padding-bottom: 35px;
}