#Profiles img {
  width: 98%;
  height: auto;
}
#Profiles figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#Profiles {
    text-align: left;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.profile-content{
  overflow: scroll;
  max-height: 100%;
}

.profile-content p:last-of-type{
  margin-bottom: 35px;
}