#Profiles img {
  width: 98%;
  height: auto;
}
#Profiles figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#Profiles {
  text-align: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.profile-content {
  overflow: scroll;
  max-height: 100%;
}

.profile-content {
  overflow-x: hidden;
  scrollbar-width: none;
}

.profile-content::-webkit-scrollbar {
  display: none;
}

.profile-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.profile-content {
  -ms-overflow-style: none;
}

.profile-content p:last-of-type {
  margin-bottom: 60px;
}
