#Works {
  text-align: left;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
.return-plus {
  width: 20px;
  object-fit: contain;
}
.return-button {
  padding: 0px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  transform: rotate(45deg);
  transition-duration: 1s;
  transition-property: transform, opacity;
}
.return-button.active {
  opacity: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-opacity: 0;
  -o-opacity: 0;
}

.work-content {
  overflow-y: scroll;
  max-height: 98%;
  overflow-x: hidden;
  scrollbar-width: none;
}

.work-content::-webkit-scrollbar {
  display: none;
}

.work-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.work-content {
  -ms-overflow-style: none;
}
.work-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.work-title-content {
  flex-grow: 2;
}
.work-details {
  height: 100%;
  }