#ProfilesMenu{
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    padding: 15px 50px 10px 0px;
    margin: 0px;
    background-color: white;
    box-shadow: -10px -10px 10px white;

}

#ProfilesMenu li{
    margin-right: 8px;
    font-style: italic;
}

#ProfilesMenu li a{
    color:rgb(204,204,204);
}

#ProfilesMenu li.active a{
    color:rgb(77, 77, 77);
}