#ProfilesMenu{
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: white;
    box-shadow: -10px -10px 10px white;
    width:300px;
    padding-top: 25px;
}

#ProfilesMenu li{
    margin-right: 3px;
    font-style: italic;
    margin-bottom: 5px;
}

#ProfilesMenu li a{
    color:rgb(204,204,204);
}
#ProfilesMenu li a::after{
    content: " . ";
    font-size: 1.6em;
    line-height: 0px;
}
#ProfilesMenu li:last-child a::after{
    content: " ";
}

#ProfilesMenu li.active a{
    color:rgb(77, 77, 77);
}