#works-listing{
    text-align: center;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0px;
}

#works-listing li {
    text-decoration: none;
    color:rgb(77, 77, 77);
    list-style: none;
    line-height: 20px;
    font-style: italic;
}

#works-listing li.protected.works-menu{
    color:rgb(204,204,204);
}