#mbua {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#mbua-first-column {
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mbua-second-column {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mbua-third-column {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0px 50px;
}
#mbua-fourth-column {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
