#mbua {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#mbua-first-column {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
}
#mbua-second-column {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mbua-third-column {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px 25px 30px 25px;
  text-align: left;
  box-sizing: border-box;
  overflow:hidden;
}
#mbua-third-column {
  overflow-x: hidden;
  scrollbar-width: none;
}

#mbua-third-column::-webkit-scrollbar {
  display: none;
}

#mbua-third-column::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#mbua-third-column {
  -ms-overflow-style: none;
}

#mbua-fourth-column {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
