@font-face {
  font-family: "AdobeHebrew-Regular";
  src: url("font/AdobeHebrew-Regular.eot");
  src: url("font/AdobeHebrew-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/AdobeHebrew-Regular.svg#AdobeHebrew-Regular") format("svg"),
    url("font/AdobeHebrew-Regular.ttf") format("truetype"),
    url("font/AdobeHebrew-Regular.woff") format("woff"),
    url("font/AdobeHebrew-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: "AdobeHebrew-Regular", "Lora", serif;
  background-color: #dfdfdf;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  color: rgb(77, 77, 77);
}

.light-text {
  color: rgb(204, 204, 204);
}
.italic-text {
  font-style: italic;
}

p.pad-right-125 {
  padding-right: 125px;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}
.mbua-wrapper {
  background: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mbua-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mbua-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media all and (min-width: 1500px) {
  .mbua-wrapper {
    width: 1400px;
    height: 860px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1500px) {
  .mbua-wrapper {
    width: 1100px;
    height: 676px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px),
  (min-height: 590px) and (max-height: 676px) and (min-width: 992px) {
  .mbua-wrapper {
    width: 960px;
    height: 590px;
  }
}
@media all and (max-width: 992px) {
  .mbua-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
