/* LANDSCAPE TABLET VIEW */
.App.tablet-view{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.App.tablet-view .mbua-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App.tablet-view #mbua {
  align-items: center;
}

.App.tablet-view .slider-wrapper {
  position: relative;
  width: 31vw;
  height: 62vw;
  margin: 0px;
}

.App.tablet-view img.mbua-slider-img {
  height: 62vw;
  width: 62vw;
}

.App.tablet-view #mbua-first-column,
.App.tablet-view #mbua-second-column,
.App.tablet-view #mbua-third-column {
  height: 62vw;
  width: 31vw;
}
.App.tablet-view #mbua-fourth-column {
  height: 62vw;
  width: 7vw;
}
.App.tablet-view #mbua-third-column {
  padding: 0px;
  overflow-x: hidden;
}

.App.tablet-view .slider-wrapper.large-slider {
  width: 62vw;
}

.App.tablet-view .title {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0px 20px;
}

.App.tablet-view #main-menu li {
  margin-right: 20px;
}

.App.tablet-view #slider-counter {
  margin-right: 30px;
}
.App.tablet-view #Slider-buttons {
  bottom: 0px;
}
.App.tablet-view #plus-button-slider {
  right: -50px;
  bottom: 5px;
}
.App.tablet-view #ProfilesMenu {
  bottom: -1px;
  width: 31vw;
}
.App.tablet-view #mbua-third-column > #PagesWrapper:first-child  {
    padding-left: 20px;
}
.App.tablet-view #main-menu > #main-menu-items {
    padding-bottom: 5px;
}